Repository nettee-space/nettee-blolet-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

chore(config): commitlint 설정 및 commit-msg 훅 추가
  .husky/commit-msg
  commitlint.config.mjs
Due: none

docs(readme): 커밋 컨벤션 섹션 추가
  README.md
Due: prettier --write

Config: husky 셋업 및 git hook 추가 (#9)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  commitlint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(pkg): @svgr/cli 및 관련 script 추가
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(config): svg 컴포넌트화 설정 파일 추가
  .svgrrc.js
  scripts/svgr-index-template.js
  scripts/svgr-template.js
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

chore(config): .npmrc 파일 추가 및 eslint 설정 수정
  .npmrc
  eslint.config.mjs
Due: none

docs(icon): 아이콘 시스템 문서 추가
  docs/icon.md
Due: prettier --write

docs(pr-template): listing 'related issue' items to support multiple entries and preview
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: slash 커맨드 이미지 삽입 작업
  public/icons/MinimizeText.svg
  public/icons/search.svg
  src/app/editor-posting-new-contents/plate-wrapper.tsx
  src/app/editor-posting-new-contents/side-draft.tsx
  src/app/editor-posting-new-contents/side-function.tsx
  src/app/editor-posting-new-contents/side-menu.tsx
  src/components/ui/media-toolbar.tsx
  src/components/ui/slash-node.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 에디터 드래그앤드롭 작업
  src/app/editor-posting-new-contents/plate-wrapper.tsx
  src/components/dnd-kit.tsx
  src/components/ui/block-draggable.tsx
  src/components/ui/slash-node.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: EditorKit 설정
  package.json
  pnpm-lock.yaml
  src/app/api/uploadthing/route.ts
  src/app/editor-posting-new-contents/edit-content.tsx
  src/app/editor-posting-new-contents/plate-wrapper.tsx
  src/app/editor/page.tsx
  src/components/autoformat-kit.tsx
  src/components/block-placeholder-kit.tsx
  src/components/copilot-kit.tsx
  src/components/dnd-kit.tsx
  src/components/editor-base-kit.tsx
  src/components/editor-kit.tsx
  src/components/plate-editor.tsx
  src/components/plate-types.ts
  src/components/settings-dialog.tsx
  src/components/transforms.ts
  src/components/ui/ai-menu.tsx
  src/components/ui/block-discussion.tsx
  src/components/ui/block-draggable.tsx
  src/components/ui/block-suggestion.tsx
  src/components/ui/callout-node-static.tsx
  src/components/ui/callout-node.tsx
  src/components/ui/column-node.tsx
  src/components/ui/editor-static.tsx
  src/components/ui/editor.tsx
  src/components/ui/ghost-text.tsx
  src/components/ui/media-toolbar.tsx
  src/components/ui/paragraph-node.tsx
  src/components/ui/slash-node.tsx
  src/components/ui/table-node.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 에디터 드래그앤드롭 이미지 삽입 작업
  src/components/ai-kit.tsx
  src/components/editor-kit.tsx
  src/components/plate-editor.tsx
  src/components/ui/ai-menu.tsx
  src/components/ui/inline-combobox.tsx
  src/components/use-chat.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

fix: 사이드 바 레이아웃 변경 및 media toolbar 커스텀
  package.json
  pnpm-lock.yaml
  public/icons/Trash.svg
  public/icons/caption.svg
  public/icons/link.svg
  src/app/editor-posting-new-contents/edit-content.tsx
  src/app/editor-posting-new-contents/page.tsx
  src/app/editor-posting-new-contents/side-admin.tsx
  src/app/editor-posting-new-contents/side-draft.tsx
  src/app/editor-posting-new-contents/side-function.tsx
  src/app/editor-posting-new-contents/side-menu.tsx
  src/app/editor-posting-new-contents/side-wrapper.tsx
  src/app/editor-posting-new-contents/sidebar-admin.tsx
  src/app/editor-posting-new-contents/sidebar-draft.tsx
  src/app/editor-posting-new-contents/sidebar-function.tsx
  src/app/editor-posting-new-contents/sidebar-menu.tsx
  src/app/editor-posting-new-contents/sidebar-top.tsx
  src/app/editor-posting-new-contents/sidebar-wrapper.tsx
  src/components/dnd-kit.tsx
  src/components/editor-kit.tsx
  src/components/plate-editor.tsx
  src/components/ui/accordion.tsx
  src/components/ui/caption.tsx
  src/components/ui/media-toolbar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

style: slash node ui 커스텀
  package.json
  pnpm-lock.yaml
  src/app/editor-posting-new-contents/sidebar-top.tsx
  src/app/globals.css
  src/components/block-placeholder-kit.tsx
  src/components/ui/dialog.tsx
  src/components/ui/inline-combobox.tsx
  src/components/ui/media-toolbar.tsx
  src/components/ui/slash-node.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

fix: slate 제거
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app/editor-posting-new-contents/edit-wrapper.tsx
  src/app/editor-posting-new-contents/edit.tsx
  src/app/editor-posting-new-contents/page.tsx
  src/app/editor/page.tsx
  src/components/editor-kit.tsx
  src/components/font-kit.tsx
  src/components/ui/callout-node.tsx
  src/components/ui/floating-toolbar-buttons.tsx
  src/components/ui/font-color-toolbar-button.tsx
  src/components/ui/media-toolbar.tsx
  src/components/ui/slash-node.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

Config: SVGR 기반 아이콘 컴포넌트 자동 생성 시스템 구축 (#11)
  .npmrc
  .svgrrc.js
  docs/icon.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  scripts/svgr-index-template.js
  scripts/svgr-template.js
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 대표 이미지 기능 추가
  package.json
  pnpm-lock.yaml
  src/app/editor-posting-new-contents/edit-content.tsx
  src/app/editor-posting-new-contents/edit-top.tsx
  src/app/editor-posting-new-contents/edit-wrapper.tsx
  src/app/editor-posting-new-contents/edit.tsx
  src/app/editor-posting-new-contents/main-banner.tsx
  src/app/editor-posting-new-contents/plate-wrapper.tsx
  src/app/editor-posting-new-contents/sidebar-draft.tsx
  src/app/editor-posting-new-contents/sidebar-function.tsx
  src/app/editor-posting-new-contents/sidebar-menu.tsx
  src/app/editor-posting-new-contents/sidebar-top.tsx
  src/app/editor-posting-new-contents/sidebar-wrapper.tsx
  src/app/globals.css
  src/components/autoformat-kit.tsx
  src/components/plate-editor.tsx
  src/components/ui/block-suggestion.tsx
  src/components/ui/calendar.tsx
  src/components/ui/editor.tsx
  src/components/ui/link-toolbar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

design(auth): 기간제 및 기본 로그인 폼 제작
  public/icons/Apple.png
  public/icons/BloletLogo.png
  public/icons/Github.png
  public/icons/Google.png
  src/app/auth/login/page.tsx
  src/app/components/modal/BasicLoginModal/BasicLoginModal.tsx
  src/app/components/modal/BasicLoginModal/Basiclogin.tsx
  src/app/components/modal/SeasonLoginModal/SeasonLoginModal.tsx
  src/app/components/modal/SeasonLoginModal/Seasonlogin.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

chore: pnpm lock 파일 임시 삭제
  pnpm-lock.yaml
Due: none

refactor(auth): 파일명 케밥 케이스로 변경 및 파일 위치 변경
  src/app/auth/login/page.tsx
  src/app/auth/signup/email/page.tsx
  src/app/features/auth/login/components/BasicLoginModal/basic-login-modal.tsx
  src/app/features/auth/login/components/BasicLoginModal/basic-login.tsx
  src/app/features/auth/login/components/SeasonLoginModal/season-login-modal.tsx
  src/app/features/auth/login/components/SeasonLoginModal/season-login.tsx
  src/app/features/auth/signup/email/components/email-signup.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

refactor(auth): src/app/features를 src/features로 위치 변경
  src/app/auth/login/page.tsx
  src/app/auth/signup/email/page.tsx
  src/features/auth/login/components/BasicLoginModal/basic-login-modal.tsx
  src/features/auth/login/components/BasicLoginModal/basic-login.tsx
  src/features/auth/login/components/SeasonLoginModal/season-login-modal.tsx
  src/features/auth/login/components/SeasonLoginModal/season-login.tsx
  src/features/auth/signup/email/components/email-signup.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

Auth > Login: form 기간 한정 및 기본 login form 제작, 파일 위치 변경 (#22)
  public/icons/Apple.png
  public/icons/BloletLogo.png
  public/icons/Github.png
  public/icons/Google.png
  src/app/auth/login/page.tsx
  src/app/auth/signup/email/page.tsx
  src/features/auth/login/components/BasicLoginModal/basic-login-modal.tsx
  src/features/auth/login/components/BasicLoginModal/basic-login.tsx
  src/features/auth/login/components/SeasonLoginModal/season-login-modal.tsx
  src/features/auth/login/components/SeasonLoginModal/season-login.tsx
  src/features/auth/signup/email/components/email-signup.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(hook): dom요소, window, 또는 미디어 쿼리 리스트에 이벤트 리스너를 연결하는 커스텀 훅 추가
  src/lib/hooks/use-event-listener.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(hook): window 스크롤 진행률을 계산하는 커스텀 훅 및 유틸리티 함수 추가
  src/lib/hooks/use-window-scroll-progress.ts
  src/lib/utils/scroll.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(hook): ssr 환경에서 안전하게 사용할 수 있는 동형 레이아웃 이펙트 훅 추가
  src/lib/hooks/use-isomorphic-layout-effect.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(hook): 쓰로틀링 기능을 제공하는 커스텀 훅 및 유틸리티 함수 추가
  src/lib/hooks/use-throttle.ts
  src/lib/utils/throttle.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

chore(pkg): shadcn-ui popover 추가
  pnpm-lock.yaml
  src/shared/components/ui/popover.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(article): 블로그 아티클 상세 페이지 및 상단 바 컴포넌트 추가
  src/app/[blogUrl]/article/[articleUrl]/page.tsx
  src/features/article/components/detail-top-bar/index.tsx
  src/features/article/components/detail-top-bar/scroll-progress-bar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(article): 정적 에디터 기반 콘텐츠 컴포넌트 추가
  src/features/article/components/detail-content/content-section.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat(article): 타이틀 섹션, 콘텐츠 섹션 컴포넌트 분리
  src/app/[blogUrl]/article/[articleUrl]/page.tsx
  src/features/article/components/detail-content/index.tsx
  src/features/article/components/detail-content/title-section.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

fix(config): 충돌 해결
  package-lock.json
  package.json
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/command.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/popover.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-is-touch-device.ts
  src/hooks/use-mobile.ts
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 시리즈 생성 api 연결
  src/app/admin/series/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

refactor: 범위 선택 시 불필요한 중복 체크 로직 제거
  src/app/admin/series/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 시리즈에 추가할 게시글 선택 시 다중 선택이 가능하도록 수정
  public/icons/drag.svg
  src/app/admin/series/page.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 시리즈 배너 이미지 업로드 및 base64 변환
  src/app/admin/series/page.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

feat: 블로그 관리 사이드바 생성
  public/icons/calc.svg
  public/icons/comment.svg
  public/icons/dashboard.svg
  public/icons/home.svg
  public/icons/plugin.svg
  public/icons/post.svg
  public/icons/series.svg
  public/icons/setting.svg
  public/icons/theme.svg
  src/app/admin/layout.tsx
  src/components/ui/sidebar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --no-warn-ignored

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  eslint --fix --max-warnings=0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
